body {
	background-color: #25292a;
}

#launchpad {
	position: relative;
	margin: 0 auto;
	top: 150px;
	width: 566px;
}

#status {
	text-align: center;
	position: relative;
	margin: 0 auto;
	width: 691px;
	top: 180px;
}

#quote {
	color: #555;
	font-family: "Trebuchet MS", sans-serif;
	letter-spacing: 0.3px;
	font-size: 20pt;
}

#timestamp {
	color: #999;
	margin-top: 10px;
	font-size: 10pt;
	font-family: Georgia, serif;
}